{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": [
    "dist/*",
    "build/*",
    "examples/*",
    "babel.config.js",
    "rollup.config.js",
    "jest-setup.js"
  ],
  "rules": {
    "no-multi-spaces": "error",
    "no-nested-ternary": "error",
    "no-trailing-spaces": "error",
    "no-irregular-whitespace": "error",
    "no-param-reassign": "error",
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "comma-dangle": ["error", "always-multiline"],
    // @typescript-eslint settings
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
