<hr class="featurette-divider footer-featurette-divider" />

<div class="container">
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
        &copy; 2018 Hanzi Writer
        <span class="footer-separator"></span>
        <a href="/license.html">License</a>
    </p>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{% if page.js %}
  <script type="application/javascript" src="{{ page.js }}"></script>
{% endif %}
