.demo-target {
  background: white;
  clear: both;
  border: 1px solid #AAA;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.demo {
  text-align: center;
}

.demo-divider {
  margin: 40px 0;
}

.demo-docs-link {
  display: inline-block;
  margin-top: 20px;
}
.char-select-form {
  margin-bottom: 20px;
}

.demo-controls {
  border: 1px solid #AAA;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

.demo-controls .btn {
  margin-left: 20px
}

.character-select {
  width: auto !important;
  display: inline-block !important;
}