
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.intro-inner {
  margin: 100px auto 0;
  max-width: 768px;
}
.intro {
  text-align: center;
}



/* MARKETING CONTENT
-------------------------------------------------- */

.sub-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub-feature {
  width: 25%;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .intro {
    margin-bottom: 20px;
  }

  /* Bump up size of carousel content */
  .intro-inner p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }


  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* --------------------------------------- */

.char {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 0 20px;
}

.marketing {
  padding-top: 30px;
}

.marketing h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.wo-quiz {
  border: 1px solid #AAA;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.subtext {
  color: #777;
  margin: 30px 0 40px;
}

.wo-quiz-controls {
  border: 1px solid #AAA;
  margin: 10px auto 30px;
  padding: 10px;
  width: 300px;
}
.wo-quiz-controls .btn {
  margin-left: 20px
}

